appdirs==1.4.3
astroid==2.4.2
atomicwrites==1.3.0
attrs==19.3.0
Automat==20.2.0
backcall==0.1.0
beautifulsoup4==4.9.1
billiard==3.6.3.0
bleach==3.3.0
bs4==0.0.1
certifi==2020.6.20
cffi==1.14.0
chardet==3.0.4
click==7.1.1
coala-utils==0.5.1
colorama==0.4.3
constantly==15.1.0
cryptography==2.9.2
cssselect==1.1.0
cycler==0.10.0
decorator==4.4.2
defusedxml==0.6.0
distlib==0.3.0
elasticsearch==7.6.0
entrypoints==0.3
et-xmlfile==1.0.1
filelock==3.0.12
Flask==1.1.2
future==0.18.2
gevent==20.4.0
greenlet==0.4.15
h5py==2.10.0
hyperlink==19.0.0
idna==2.10
incremental==17.5.0
inflect==4.1.0
ipykernel==5.2.0
ipython==7.13.0
ipython-genutils==0.2.0
ipywidgets==7.5.1
isort==4.3.21
itemadapter==0.1.0
itsdangerous==1.1.0
jdcal==1.4.1
jedi==0.16.0
Jinja2==2.11.1
joblib==0.14.1
jsonschema==3.2.0
jupyter==1.0.0
jupyter-client==6.1.2
jupyter-console==6.1.0
jupyter-core==4.6.3
Keras==2.3.1
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.2
kiwisolver==1.2.0
lab==6.0
lazy-object-proxy==1.4.3
lxml==4.5.2
MarkupSafe==1.1.1
matplotlib==3.2.1
mccabe==0.6.1
mistune==0.8.4
more-itertools==8.2.0
msgpack==1.0.0
nbconvert==5.6.1
nbformat==5.0.5
notebook==6.0.3
numpy==1.18.2
oauthlib==3.1.0
openpyxl==3.0.3
packaging==20.3
pandas==1.0.3
pandocfilters==1.4.2
parsel==1.6.0
parso==0.6.2
pefile==2019.4.18
pickleshare==0.7.5
pipenv==2020.6.2
pluggy==0.13.1
prometheus-client==0.7.1
prompt-toolkit==3.0.5
protego==0.1.16
psycopg2==2.8.5
py==1.8.1
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.20
PyDispatcher==2.0.5
Pygments==2.6.1
PyHamcrest==2.0.2
pylint==2.5.3
PyMySQL==0.9.3
pyopenssl==19.1.0
pyparsing==2.4.6
pyrsistent==0.16.0
PySocks==1.7.1
pytest==5.4.1
python-dateutil==2.8.1
pytz==2019.3
pywin32==227
pywinpty==0.5.7
PyYAML==5.3.1
pyzmq==19.0.0
qtconsole==4.7.2
QtPy==1.9.0
queuelib==1.5.0
requests==2.24.0
requests-oauthlib==1.3.0
scikit-learn==0.22.2.post1
scipy==1.4.1
scrapy==2.2.0
seaborn==0.10.0
selenium==3.141.0
Send2Trash==1.5.0
service-identity==18.1.0
simplejson==3.17.0
six==1.14.0
sklearn==0.0
soupsieve==2.0.1
sql==0.4.0
SQLAlchemy==1.3.16
terminado==0.8.3
testpath==0.4.4
toml==0.10.1
tornado==6.0.4
traitlets==4.3.3
tweepy==3.9.0
Twisted @ file:///C:/Users/abc/Twisted-20.3.0-cp38-cp38-win32.whl
twitterscraper==1.4.0
txt2tags==3.7
urllib3==1.25.9
virtualenv==20.0.14
virtualenv-clone==0.5.4
virtualenvwrapper-win==1.2.6
w3lib==1.22.0
wcwidth==0.1.9
webencodings==0.5.1
Werkzeug==1.0.1
widgetsnbextension==3.5.1
wrapt==1.12.1
xlrd==1.2.0
xlwt==1.3.0
zerorpc==0.6.3
zope.interface==5.1.0
